.game-mode{
    height: 100%;
    display:flex;
    align-items:center; 
    flex-direction: column;
}
form{
  font-family: 'Acme', sans-serif;
}
.choose-player{
    width: 100%;
    text-align: center;
}

.choose-player  label:focus{
    background-color:#fff;
}

.radio-toolbar input[type="radio"] {
    display: none;
  }
  
  .radio-toolbar label {
    border:8px solid orange;
    color: white;
    font-size: 2rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding:2vw 4vw;
    margin:0;
    cursor: pointer;
    margin:2vh 2vw;
  }
  
  .radio-toolbar input[type="radio"]:checked+label {
    background-color: black;
  }

  .choose-player i.fas {
    font-size:50px
  }