html{
  background-color: #d5d5d5;
}
.cell{
  border: 1px solid;
  display: inline-block;
  padding: 30px;
  border-radius: 50%;
  margin:5px;
  cursor: pointer;
}
.cell-wrapper{
  background-color: #3355ff;
  
}
.row{
  text-align: center;
  display: flex;
  justify-content: center;
}
.white{
  background-color: white;
}

.red{
   background: rgb(202, 0, 0);
}

.yellow{
  background-color: yellow;
}
.board{
 text-align: center;
}
h2{
  font-family: 'Shadows Into Light', cursive;
}