@import url('https://fonts.googleapis.com/css?family=Modak|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

html,.App{
  height: 100vh;
  overflow: hidden;
}

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

.cell{
  border: 1px solid;
  display: inline-block;
  padding: 2vw;
  border-radius: 50%;
  margin:5px;
  cursor: pointer;
}
.details{
  margin-top: 50px;
  color: whitesmoke;
  margin-left: 25px;
}

.current-player{
  text-align: left;
  width: auto;
  color:white;
  font-size: 3vw;
  padding: 0 10px;
}

.player{
  border:solid 7px #fff;
  padding:1vw;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 2rem;
  margin-top: 50px;
}

.current-player,h4,.player{
  font-family: 'Acme', sans-serif;
}

.winner{
  font-size: 40px;
  animation: win 2s;
}
@keyframes win{
  0%{
    font-size: 0;
  }
  100%{
    font-size: 40px;
  }
}

.white{
  background-color: white;
}
.red{
   background: rgb(202, 0, 0);
}

.yellow{
  background-color: yellow;
}
.board{
 text-align: center;
 background-color:  #2c3e50;
 border-radius: 10px;
 position: absolute;
 right: 100px;
 bottom: 80px;
}

.win-wrapper{
  position: absolute;
  z-index: 99;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  animation: win 2s;
}

@keyframes win {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.win{
  border: 7px solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:20px 100px;
  animation: shakeWinner 3s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shakeWinner{
  0% { transform:translate(0,0) }
  1% { transform:translate(15px,0) }
  3% { transform:translate(0,0) }
  5% { transform:translate(15px,0) }
  7% { transform:translate(0,0) }
  8% { transform:translate(15px,0) }
  10% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
a{
  border: none;
  border-radius:5px;
  background-color: #3355ff;
  color:white;
  padding:15px;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #fff;
  text-decoration: none;
  outline: none;
}


@media only screen and (max-width: 1040px) {
  .board{
    position: static;
    margin: 20px auto;
  }
  .details{
    margin: 10px auto;
  }
}


.btn:link,.btn:visited{
  transform: translateX(0);
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}
.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}
.btn-white{
  background-color: #fff;
  color: #777;
}

.btn::after{
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.4s
}

.btn-white::after{
  background-color:#fff;
}

.btn:hover::after{
  transform:scaleX(1.4) scaleY(1.4);
  opacity: 0;
}

.btn-animated{
  animation:moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}