@import url('https://fonts.googleapis.com/css?family=Modak|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Goblin+One&display=swap');

body{
  background-image: url(https://store-images.s-microsoft.com/image/apps.41929.14246448385562777.7795b656-4cc6-43e1-897f-ecca74691263.ce6424bf-ec09-434a-9a0d-6d9507621cfa?mode=scale&q=90&h=1080&w=1920);
  background-size: cover;
}
h1{
  font-family: 'Rock Salt', cursive;
  font-size: 45px;
}
.cell{
  border: 1px solid;
  display: inline-block;
  padding: 30px;
  border-radius: 50%;
  margin:5px;
  cursor: pointer;
}
.details{
  background-color: rgba(0, 0, 0, .3);
  height: 400px;
  border-radius: 10px;
  padding: 15px;
  color: whitesmoke;
}
.current-player{
  font-family: 'Modak', cursive;
  background-color: rgba(0, 0, 0, .3);
  color:white;
  font-size: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0 10px;
  width: 60%;
}
.cell-wrapper{
  background-color: #3355ff;
  border: 1px solid black;
}
.row{
  display: flex;
  justify-content: left;
}
.player{
  border:solid 7px #fff;
  padding:10px;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  font-size: 25px;
  font-family: 'Goblin One', cursive;
}
.winner{
  font-size: 40px;
  animation: win 2s;
}
@keyframes win{
  0%{
    font-size: 0;
  }
  100%{
    font-size: 40px;
  }
}

.white{
  background-color: white;
}
.red{
   background: rgb(202, 0, 0);
}

.yellow{
  background-color: yellow;
}
.board{
 text-align: center;
 position: absolute;
}


.win-wrapper{
  position: absolute;
  z-index: 99;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  color: white;
  flex-direction: column;
  animation: win 2s;
}

@keyframes win {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.win{
  border: 7px solid;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  padding:20px 100px;
  animation: shakeWinner 3s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes shakeWinner{
  0% { transform:translate(0,0) }
  1% { transform:translate(15px,0) }
  3% { transform:translate(0,0) }
  5% { transform:translate(15px,0) }
  7% { transform:translate(0,0) }
  8% { transform:translate(15px,0) }
  10% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}
a{
  border: none;
  border-radius:5px;
  background-color: #3355ff;
  color:white;
  padding:15px;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #fff;
  text-decoration: none;
  outline: none;
}