body{
  font-family: 'Shadows Into Light', cursive;
  background-color: #d5d5d5;
  padding: 20px;
}

.cell{
  border: 1px solid;
  display: inline-block;
  padding: 30px;
  border-radius: 50%;
  margin:5px;
  cursor: pointer;
}

.cell-wrapper{
  background-color: #3355ff;
  
}
.row{
  display: flex;
  justify-content: center;
}

.winner{
  font-size: 40px;
  animation: win 2s;
}
@keyframes win{
  0%{
    font-size: 0;
  }
  100%{
    font-size: 40px;
  }
}

.white{
  background-color: white;
}
.red{
   background: rgb(202, 0, 0);
}

.yellow{
  background-color: yellow;
}
.board{
 text-align: center;
 position: absolute;
}
